/* .whole {

    /* color: blue; */
    /* background-color: blue; */
    /* height: 100%;
    width: 100%; */

    /* background-color: aqua; */

/* }    */ 

.sidebar {

height: 100%;
width: 7%;
border: 5px solid black;


}